<div class="container">
	<div class="row">
		<div class="small-12 columns">
			<h1></h1>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns">
			<div class="jumbotron">
	  			<h1>Welcome to Sample App!</h1>
	  			<p>Use the Sample App to get acquainted with the functionality
					available in Qlack Web Desktop environment. Once you've exhausted
					the fun of this app, why don't you start creating your own examples
					and integrate them into it? ;)
				Ready? Use the menu on top to browse through the examples.</p>
			</div>
		</div>
	</div>
</div>
