<section id="welcome" class="well">
	<div class="clearfix">
		<h3>Welcome to the XXX component</h3>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.</p>
	</div>
	<div class="clearfix">
		<div class="pull-left">
			<h3>Your recent projects:</h3>
		</div>
		<div class="pull-right actions">
			<select kendo-drop-down-list>
				<option>All projects</option>
				<option>Project 1</option>
				<option>Project 2</option>
				<option>Project 3</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-lg-3">
			<div class="project bg-info">
				<h4>Project 1</h4>
				<div class="row">
					<div class="col-xs-8">
						<div class="clearfix"><label>Created on</label> {{ 1304375948024 | qDate:'lll' }}</div>
						<div class="clearfix"><label>Created by</label> John Doe</div>
					</div>
					<div class="col-xs-4">
						<button class="btn btn-primary"><i class="fa fa-pencil"></i> Edit forms</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-lg-3">
			<div class="project bg-info">
				<h4>Project 2</h4>
				<div class="row">
					<div class="col-xs-8">
						<div class="clearfix"><label>Created on</label> {{ 1304375948024 | qDate:'lll' }}</div>
						<div class="clearfix"><label>Created by</label> John Doe</div>
					</div>
					<div class="col-xs-4">
						<button class="btn btn-primary"><i class="fa fa-pencil"></i> Edit forms</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-lg-3">
			<div class="project bg-info">
				<h4>Project 3</h4>
				<div class="row">
					<div class="col-xs-8">
						<div class="clearfix"><label>Created on</label> {{ 1304375948024 | qDate:'lll' }}</div>
						<div class="clearfix"><label>Created by</label> John Doe</div>
					</div>
					<div class="col-xs-4">
						<button class="btn btn-primary"><i class="fa fa-pencil"></i> Edit forms</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-lg-3">
			<div class="project bg-info">
				<h4>Project 4</h4>
				<div class="row">
					<div class="col-xs-8">
						<div class="clearfix"><label>Created on</label> {{ 1304375948024 | qDate:'lll' }}</div>
						<div class="clearfix"><label>Created by</label> John Doe</div>
					</div>
					<div class="col-xs-4">
						<button class="btn btn-primary"><i class="fa fa-pencil"></i> Edit forms</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>