<div class="container">
	<div class="row">
		<div class="small-12 columns" ng-controller="ServicesCtrl">
			<h1>Notifications</h1>
			<h2>Client side</h2>
			<button ng-click="n1()" type="button" class="btn btn-primary">Bubble notification</button>
			<button ng-click="n2()" type="button" class="btn btn-warning">Tray panel notification</button>
			<button ng-click="n3()" type="button" class="btn btn-success">Bubble + Tray panel notification</button>
			<button ng-click="n4()" type="button" class="btn btn-danger">Bubble + Tray panel + Badge notification</button>
			<button ng-click="n5()" type="button" class="btn btn-default">Bubble with audio</button>
			<h2>Server side</h2>
			<button ng-click="n6()" type="button" class="btn btn-primary">Initiate very long server-side action</button>
		</div>
	</div>
</div>

